 #btns {
     background-color: #71cd14;
     color: #ffff;
     font-size: 14px;
     padding: 5px 25px;
     font-weight: 500;
     text-transform: uppercase;
     border: none;
     border-radius: 8px;
 }

 .signup-form {
     max-width: 400px;
     margin: auto;
     padding: 30px;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }

 .signup-form h2 {
     margin-bottom: 30px;
     text-align: center;
     color: #71cd14;
 }

 #login {
     color: #71cd14;
 }